<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tasks">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Tarefas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="passwords">
      <ion-icon name="lock-open-outline"></ion-icon>
      <ion-label>Senhas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trash">
      <ion-icon name="trash-outline"></ion-icon>
      <ion-label>Lixeira</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
