<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-title><ion-text><h2>Lixeira</h2></ion-text></ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="tasks">
      <ion-icon name="receipt-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="passwords">
      <ion-icon name="lock-open-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="type === 'tasks'">
    <ion-item-sliding *ngFor = "let task of trashService.getTasks(); let i = index">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="ion-padding-vertical">{{task.title}}</ion-label>
            </ion-col>
            <ion-col size ="auto">
              <ion-badge color = "success" class="ion-padding-vertical" *ngIf="task.date.getDate()" >
                {{task.date.getDate()+"/"+(task.date.getMonth()+1)+"/"+task.date.getFullYear()}}
              </ion-badge>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side = "end">
        <ion-item-option color=secondary (click)="presentAlertPromptRestTask(i, task)">
          <ion-icon name="sync-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color=danger (click)="presentAlertPromptDeleteTask(i)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="type === 'passwords'">
    <ion-item-sliding *ngFor = "let password of trashService.getPasswords(); let i = index">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="ion-padding-vertical">{{password.title}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side = "end">
        <ion-item-option color=secondary (click)="presentAlertPromptRestPassword(i, password)">
          <ion-icon name="sync-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color=danger (click)="presentAlertPromptDeletePassword(i)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
